config.stopBubbling = true

lombok.addNullAnnotations = javax

lombok.toString.callSuper = call
lombok.equalsAndHashCode.callSuper = call
lombok.noArgsConstructor.extraPrivate = true
lombok.singular.auto = true
lombok.fieldNameConstants.uppercase = true

lombok.anyConstructor.addConstructorProperties = false

lombok.copyableAnnotations += javax.annotation.Nullable
lombok.copyableAnnotations += javax.annotation.Nonnull
lombok.copyableAnnotations += jakarta.annotation.Nullable
lombok.copyableAnnotations += jakarta.annotation.Nonnull
lombok.copyableAnnotations += org.jspecify.annotations.NonNull
lombok.copyableAnnotations += org.jspecify.nullness.NonNull
lombok.copyableAnnotations += org.jspecify.annotations.Nullable
lombok.copyableAnnotations += org.jspecify.nullness.Nullable
lombok.copyableAnnotations += org.jspecify.nullness.NullnessUnspecified
lombok.copyableAnnotations += org.jetbrains.annotations.Nls
lombok.copyableAnnotations += org.jetbrains.annotations.NonNls
lombok.copyableAnnotations += org.jetbrains.annotations.NotNull
lombok.copyableAnnotations += org.jetbrains.annotations.Nullable
lombok.copyableAnnotations += org.jetbrains.annotations.UnknownNullability
lombok.copyableAnnotations += org.jetbrains.annotations.Unmodifiable
lombok.copyableAnnotations += org.jetbrains.annotations.UnmodifiableView
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JacksonInject
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonAlias
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFilter
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFormat
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIdentityInfo
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIdentityReference
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonInclude
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonMerge
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonPropertyDescription
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonSetter
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonSubTypes
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonTypeId
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonTypeInfo
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonUnwrapped
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonView
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.mockito.Mock
lombok.copyableAnnotations += org.mockito.Spy
lombok.copyableAnnotations += name.remal.gradle_plugins.toolkit.testkit.ChildProjectOf
lombok.copyableAnnotations += name.remal.gradle_plugins.toolkit.testkit.ApplyPlugin

# Use Java 10's `var` instead
lombok.val.flagUsage = warning

# `var` is a reserved keyword from Java 10
lombok.var.flagUsage = warning

# Fluent/chain accessors can break different libraries that rely on Java Beans Specification:
lombok.accessors.flagUsage = warning

# Use Gradle logger only:
lombok.log.fieldname = logger
#lombok.log.custom.flagUsage = warning
lombok.log.custom.declaration = org.gradle.api.logging.Logger org.gradle.api.logging.Logging.getLogger(TYPE)
lombok.log.apacheCommons.flagUsage = warning
lombok.log.flogger.flagUsage = warning
lombok.log.javaUtilLogging.flagUsage = warning
lombok.log.jbosslog.flagUsage = warning
lombok.log.log4j.flagUsage = warning
lombok.log.log4j2.flagUsage = warning
lombok.log.slf4j.flagUsage = warning
lombok.log.xslf4j.flagUsage = warning

# Fix code coverage reports:
lombok.addLombokGeneratedAnnotation = true

# Suppress warnings:
lombok.addSuppressWarnings = true
lombok.extern.findbugs.addSuppressFBWarnings = true

# https://github.com/rzwitserloot/lombok/issues/2044:
lombok.utilityClass.flagUsage = error
