config.stopBubbling = true

lombok.addNullAnnotations = javax

lombok.fieldDefaults.defaultPrivate = true
lombok.toString.callSuper = call
lombok.equalsAndHashCode.callSuper = call
lombok.noArgsConstructor.extraPrivate = true
lombok.singular.auto = true
lombok.fieldNameConstants.uppercase = true

lombok.anyConstructor.addConstructorProperties = false

lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.mockito.Mock
lombok.copyableAnnotations += org.mockito.Spy
lombok.copyableAnnotations += name.remal.gradleplugins.toolkit.testkit.ChildProjectOf
lombok.copyableAnnotations += name.remal.gradleplugins.toolkit.testkit.ApplyPlugin

# Fluent/chain accessors can break different libraries that rely on Java Beans Specification:
lombok.accessors.flagUsage = warning

# Use Log4j2 only:
lombok.log.fieldname = logger
#lombok.log.custom.flagUsage = warning
lombok.log.custom.declaration = org.gradle.api.logging.Logger org.gradle.api.logging.Logging.getLogger(TYPE)
lombok.log.apacheCommons.flagUsage = warning
lombok.log.flogger.flagUsage = warning
lombok.log.javaUtilLogging.flagUsage = warning
lombok.log.jbosslog.flagUsage = warning
lombok.log.log4j.flagUsage = warning
lombok.log.log4j2.flagUsage = warning
lombok.log.slf4j.flagUsage = warning
lombok.log.xslf4j.flagUsage = warning

# Fix code coverage reports:
lombok.addLombokGeneratedAnnotation = true

# https://github.com/rzwitserloot/lombok/issues/2044:
lombok.utilityClass.flagUsage = error
