# Configuration file for Mergify GitHub App: https://github.com/marketplace/mergify

#$schema: 'https://docs.mergify.com/mergify-configuration-schema.json'

pull_request_rules:
- name: Auto merge dependency updates
  conditions:
  - 'author~=^(dependabot(-preview)?|renovate)\[bot\]$'
  - '-files~=^(\.github/|\.gitlab/)?renovate\.json5?$'
  - '-files~=^\.renovaterc(\.json5?)?$'
  - '-conflict'
  - '-closed'
  - '-merged'
  - '-draft'
  - '#changes-requested-reviews-by=0'
  - 'check-success=cross-versions-tests-success'
  - '#check-pending=0'
  - '#check-failure=0'
  - '#check-timed-out=0'
  actions:
    review: { }
    merge:
      method: squash
      commit_message_template: '{{ title }} (#{{ number }})'

- name: Sync with template
  conditions:
  - 'author~=^(remal|repository-token-issuer\[bot\])$'
  - 'label=sync-with-template'
  - '#added-files=0'
  - '#removed-files=0'
  - '-conflict'
  - '-closed'
  - '-merged'
  - '-draft'
  - '#changes-requested-reviews-by=0'
  - 'check-success=cross-versions-tests-success'
  - '#check-pending=0'
  - '#check-failure=0'
  - '#check-timed-out=0'
  actions:
    review: { }
    merge:
      method: squash
      commit_message_template: '{{ title }} (#{{ number }})'
