# Configuration file for Mergify GitHub App: https://github.com/marketplace/mergify

# All Status Checks should be listed explicitly (see https://docs.mergify.io/conditions/#about-status-checks):
#   `cross-versions-tests-success` - .github/workflows/build.yml
#   `WIP` - https://github.com/marketplace/wip

pull_request_rules:
- name: Auto merge approved
  conditions:
  - '#approved-reviews-by>=1'
  - -files~=^(\.github/)?renovate\.json5?$
  - -conflict
  - -closed
  - -merged
  - -draft
  - -locked
  - '#changes-requested-reviews-by=0'
  - check-success=cross-versions-tests-success
  - check-success=WIP
  - '#check-pending=0'
  - '#check-failure=0'
  actions:
    merge:
      method: squash

- name: Auto approve dependency updates
  conditions:
  - '#approved-reviews-by=0'
  - author~=^(dependabot(-preview)?|renovate)\[bot\]$
  - label!=sync-with-template
  - -files~=^(\.github/)?renovate\.json5?$
  - 'check-neutral!=renovate/stability-days'
  - 'check-pending!=renovate/stability-days'
  - 'check-failure!=renovate/stability-days'
  - -closed
  - -merged
  actions:
    review: { }

- name: Merge by authors automatically
  conditions:
  - author=remal
  - label!=sync-with-template
  - -conflict
  - -closed
  - -merged
  - -draft
  - -locked
  - '#changes-requested-reviews-by=0'
  - check-success=cross-versions-tests-success
  - check-success=WIP
  - '#check-pending=0'
  - '#check-failure=0'
  actions:
    review: { }
    merge:
      method: squash
