name: Cancel PR actions

on:
  pull_request:
    types:
    - closed

permissions:
  pull-requests: read
  checks: read
  actions: write

jobs:
  cancel-pr-actions:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Cancel PR actions
      uses: Mergifyio/gha-cancel-workflow-runs-on-pr-close@v1
      #uses: remal-github-actions/cancel-pr-actions@v1
