name: Rebase Dependabot pull requests

on:
  push:
    paths:
    - '.github/workflows/rebase-dependabot-pull-requests.yml'
    branches:
    - 'main'
    - 'master'
  schedule:
  - cron: '47 0/4 * * *' # sync-with-template: adjust
  workflow_dispatch: { }

permissions:
  pull-requests: write
  issues: write
  contents: read

concurrency:
  group: rebase-dependabot-pull-requests-${{github.ref}}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  rebase-dependabot-pull-requests:
    name: Rebase Dependabot pull requests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Rebase Dependabot pull requests
      uses: remal-github-actions/rebase-dependabot-pull-requests@v1
