name: Sync with template repository

on:
  push:
    paths:
    - '.github/workflows/sync-with-template.yml'
    - '.github/sync-with-template.yml'
    - '.github/sync-with-template-local-transformations.yml'
    branches:
    - 'main'
    - 'master'
  schedule:
  - cron: '15 4/6 * * *' # sync-with-template: adjust
  workflow_dispatch:
    inputs:
      dryRun:
        required: true
        default: 'false'
        description: Set to 'true' to enable dry run
        type: choice
        options:
        - 'true'
        - 'false'

permissions:
  id-token: write

concurrency:
  group: sync-with-template-${{github.ref}}
  cancel-in-progress: true

env:
  TEMPLATE_REPOSITORY: ${{secrets.TEMPLATE_REPOSITORY || vars.TEMPLATE_REPOSITORY || ''}}

defaults:
  run:
    shell: bash

jobs:
  sync-with-template:
    name: Sync with template repository
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Get GitHub Token
      id: get-token
      uses: remal/github-repository-token-issuer@v1
      with:
        scopes: |
          contents: write
          workflows: write
          pull_requests: write
          issues: write

    - name: Sync with template repository
      uses: remal-github-actions/sync-with-template@v3
      with:
        dryRun: ${{inputs.dryRun}}
        githubToken: ${{steps.get-token.outputs.token}}
        templateRepository: ${{env.TEMPLATE_REPOSITORY}}
